@import './../app.component.scss';

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.btn-customer-product_list{
  @include invertOnHover(#fff, $purple);
  display: flex;
  padding: 0.75em;
}

.btn-customer-product_list{
  border-radius: 100%;
}
