@import "./../../app.component.scss";

#tag-table {
  thead,
  tbody,
  td,
  tr,
  th {
    div {
      @include maxWidth();
      height: 100%;
    }
  }

  .tag-img {
    $d: 50px;
    height: $d;
    width: $d;
    object-fit: contain;
  }
}
