<div *ngIf="!showPreloader" class="product-list-sect p-0">
    <div class="d-flex flex-wrap py-2 px-0">
        <form class="form-inline my-2 my-lg-0 ml-auto" #searchProduct = "ngForm"  (ngSubmit) = "onSearch()">
            <input class="form-control" name="searchText" type="search" placeholder="Search" aria-label="Search Products" [(ngModel)]="searchText" required>
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                <span>
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </form>
    </div>
    <div class="col-sm-12 container py-2 px-0">
        <!-- table of products  -->
        <table id="product-table" class="table hover">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>category</th>
                    <th>cost</th>
                    <th>reduced cost</th>
                    <th>discount</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td data-field="product-name">
                        <span class="product-name text-capitalize">
                            {{product?.name}}
                        </span>
                    </td>
                    <td data-field="product-category">
                        <span class="product-category text-capitalize">
                            {{product?.category?.name}}
                        </span>
                    </td>
                    <td data-field="product-price">
                        <span class="product-price">
                            {{product?.cost | currency:"NGN":"₦"}}
                        </span>
                    </td>
                    <td data-field="product-reduced-cost">
                        <span class="product-reduced-price">
                            {{product?.reduced_cost | currency:"NGN":"₦"}}
                        </span>
                    </td>
                    <td data-field="product-discount">
                        <span class="product-discount">
                            {{product?.discount}}
                        </span>
                    </td>
                    <td data-field="view-product">
                        <span class="view-product">
                            <button title="click to view product" class="btn-product-view btn" (click)="viewProduct(product)">
                                <i class="far fa-eye"></i>
                            </button>
                        </span>
                    </td>
                    <td data-field="edit-product">
                        <span class="edit-product">
                            <button title="click to edit product" class="btn-product-edit btn" (click)="editProduct(product)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                        </span>
                    </td>
                    <td data-field="delete-product">
                        <span class="delete-product">
                            <button title="click to delete product" class="btn-product-delete btn" (click)="deleteProduct(product)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>
                    </td>
                </tr>
                <tr *ngIf="!products.length">
                    <div class="d-flex p-2">
                        <p class="mx-auto text-center">
                            No Product
                        </p>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination py-2 d-flex px-0" *ngIf="products.length">
        <div class="flex flex-wrap m-auto">
            <span class="pagination-nav prev"
            *ngIf="currentPage !== 1"
            (click)="setPage(currentPage - 1)"
            >
            Previous
            </span>
            <ng-container *ngIf="pagesArray.length <= 10" >
            <span class="pagination-nav page"
                *ngFor="let page of pagesArray; let index = index"
                [ngClass]="{ 'active': currentPage === index + 1 }"
                (click)="setPage(index + 1)"
            >
                {{ index + 1 }}
            </span>
            </ng-container>
            <ng-container *ngIf="pagesArray.length > 10" >
            <select
                [ngModel]="currentPage"
                (ngModelChange)="setPage($event.target.value)"
            >
                <option
                *ngFor="let p of pagesArray; let index = index"
                [value]="(index + 1)" >
                {{ index + 1 }}
                </option>
            </select>
            </ng-container>
            <span class="pagination-nav next"
            *ngIf="currentPage !== pagesArray.length"
            (click)="setPage(currentPage + 1)"
            >
            Next
            </span>
        </div>
    </div>
</div>
<div class="preloader col-md-12 py-5 px-2" *ngIf="showPreloader">
  <div class="d-flex flex-wrap mx-auto my-2">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
      <circle cx="50" cy="50" fill="none" stroke="#28A745" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(340.749 50 50)">
        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
      </circle>
        <!-- [ldio] generated by https://loading.io/ -->
    </svg>
  </div>
</div>
