@import "./../../app.component.scss";

#product-table {
  tbody tr td {
    span {
      @include maxWidthFlexWrap();
      height: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
