nav{
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 170px;

    a.nav-link{
        color: #a7a7a7;

        &.active{
           color: #fff;
        }
    }

    .logout .btn-danger{
      position: absolute;
      bottom: 10px;
      width: calc(100% - 14px);
      transition: 0.2s ease-in;
      background-color: transparent;

      &:hover {
        background-color: #dc3545;
      }
    }
}
