@import './../../app.component.scss';

#category-table{

    thead, tbody, td, tr, th{
       div{
           @include maxWidth();
           height: 100%;
       }
    }

    .category-img{
        $d: 50px;
        height: $d;
        width: $d;
        object-fit: contain;
    }

    .btn-category-edit{
        @include invertOnHover(#fff, $dark)
    }

    .btn-category-delete{
        @include invertOnHover(#fff, $danger)
    }

    .btn-category-product_list{
        @include invertOnHover(#fff, $orange)
    }

    .btn-category-edit,.btn-category-delete, .btn-category-product_list{
        border-radius: 100%;
    }

}

.btn-bulk-wrapper{
    transition: 0.5s ease-in-out all;
    display: flex;
    flex-wrap: wrap;

    button.bulk-delete{
        background-color: rgba($danger, 0.15);
        color: $danger;
        font-weight: bold;
        transition: 0.2s ease-out;
    
        &:hover{
            background-color: $danger;
            color: #fff;
        }
    }
}