@import './../app.component.scss';

.side-menu-wrapper{
    height: 100vh;
}

.app-content{
    background-color: $sweetWhiteSmokeBlue;
    width: 100%;
    padding: 3em 1em;

    .app-title{
        padding: 1em 0.5em;
    }

    .app-body{
        padding: 2em 0.5em;
        background-color: #ffffff;
        border-radius: 0.5em 0.5em 0 0;
        box-shadow: 0px 1px 1px rgba($color: #000000, $alpha: 0.25);
    }
}