// Custom Theming for Angular Material
@use "@angular/material" as mat;
// For more information: https://material.angular.io/guide/theming
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sophie-admin-primary: mat.define-palette(mat.$indigo-palette);
$sophie-admin-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sophie-admin-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$sophie-admin-theme: mat.define-light-theme(
  $sophie-admin-primary,
  $sophie-admin-accent,
  $sophie-admin-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sophie-admin-theme);

@import url("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css");
@import url("https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto" sans-serif;
}

$smokeyWhite: #f5f4f4;
$sophiePink: #ffd9e8;
$placeHolderAsh: #afa7a7;
$placeHolderForm: #787a7c;
$iconColor: #544f4f;
$iconHoverColor: #007bff;
$limeGreen: #2c9412;

//Bootstrap 4 colors
$primary: #007bff !default; // primary
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$danger: #dc3545 !default; // danger
$orange: #fd7e14 !default;
$warning: #ffc107 !default; // warning
$success: #28a745 !default; // success
$teal: #20c997 !default;
$cyan: #17a2b8 !default; // info

// Grays
$white: #fff !default;
$gray-100: #f8f9fa !default; // light
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$secondary: #868e96 !default; // secondary
$gray-700: #495057 !default;
$dark: #343a40 !default; // dark
$gray-900: #212529 !default;
$black: #000 !default;

//My colors
$sweetWhiteSmokeBlue: #f2f3f7;

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin maxWidth {
  width: 100%;
  max-width: 100%;
}

@mixin maxWidthFlexWrap {
  @include flexWrap();
  @include maxWidth();
}

@mixin invertOnHover($bg: #000, $clr: #fff, $borderClr: $bg, $borderWid: 1px) {
  background-color: $bg;
  color: $clr;
  border: $borderWid solid $borderClr;
  transition: 0.2s ease-in;

  &:hover {
    background-color: $clr;
    color: $bg;
    border: $borderWid solid $borderClr;
  }
}

body {
  background-color: $sweetWhiteSmokeBlue;
}

textarea {
  resize: none;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0.1px 0.1px 0.1px rgba($color: #000000, $alpha: 0.1);
  padding: 50px;
  font-size: 20px;
  z-index: 2;
}

button {
  font-family: "Lato", sans-serif;
  outline: none;

  &:disabled,
  &[disabled],
  .btn:disabled,
  .btn[disabled] {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}

button.btn-dt-refresh {
  outline: none;
  background-color: $warning;
  border: 1px solid $warning;
  color: $dark;
  font-weight: 500;
  transition: 0.2s ease-out;
  box-shadow: 2px 3px 5px rgba($color: #000000, $alpha: 0.25);

  &:hover {
    background-color: rgba($warning, 0.35);
    color: $dark;
    border: 1px solid $dark;
  }
}

.btn-bulk-wrapper {
  display: flex;
  flex-wrap: wrap;

  @mixin btn_bulk_fn($clr) {
    background-color: rgba($clr, 0.15);
    color: $clr;
    font-weight: 500;
    transition: 0.2s ease-out;

    &:hover {
      background-color: $clr;
      color: #fff;
    }
  }

  button.bulk-delete {
    @include btn_bulk_fn($danger);
  }

  button.bulk-move {
    @include btn_bulk_fn($primary);
  }

  button.bulk-unselect {
    @include btn_bulk_fn($dark);
  }
}

table {
  background-color: transparent !important;
  transition: 0.7s ease-in;
  padding: 1em 2em;
  box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.25),
    -2px -2px 4px rgba($color: #000000, $alpha: 0.25);
  font-size: 14px;

  button {
    outline: none;
  }

  .btn-item-edit,
  .btn-item-delete,
  .btn-item-product_list,
  .btn-item-move {
    border-radius: 100%;
  }

  .btn-item-edit {
    @include invertOnHover(#fff, $dark);
  }

  .btn-item-move {
    @include invertOnHover(#fff, $primary);
  }

  .btn-item-delete {
    @include invertOnHover(#fff, $danger);
  }

  .btn-item-product_list {
    @include invertOnHover(#fff, $orange);
  }

  th {
    text-transform: capitalize;
    font-family: "Roboto" sans-serif;
    font-weight: 500;
  }

  &:hover {
    tr:hover {
      background-color: whitesmoke !important;
      box-shadow: 0.1px 0.1px 0.1px rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.pagination {
  width: 100%;
  border-radius: 10px;
  padding: 0.75em;
  box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.15),
    -1px -1px 1px rgba($color: #000000, $alpha: 0.15);

  span.pagination-nav {
    $pd: 1em;
    $py: $pd * 0.5;
    $px: $pd;
    padding: $py $px;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-bottom: 1px solid transparent;
    margin: auto 0.5em;

    &.active {
      background-color: $success;
      color: white;
      border-radius: 4px;
      font-weight: bold;
      cursor: default;

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }

    &:hover {
      border-bottom: 1px solid $success;
    }
  }
}

.dataTables_wrapper {
  display: flex;
  flex-wrap: wrap;

  .dataTables_filter,
  table.dataTable {
    width: 100%;
  }
  .dataTables_filter {
    order: -2;
    display: flex;
    flex-wrap: wrap;

    label {
      margin: auto 0 10px auto !important;
    }
  }

  table.dataTable {
    padding: 0;
    margin: 1em auto;
    order: -1;
  }

  .dataTables_length,
  .dataTables_info {
    margin: auto 10px auto 0 !important;
    float: none !important;
    float: none !important;
    padding: 0 !important;
  }

  .dataTables_length {
    width: auto;
  }

  .dataTables_info {
    width: auto;
    margin: auto 0;
  }

  .dataTables_paginate {
    flex: auto;
    float: none !important;
    margin: auto 0px auto 10px !important;
    border-radius: 10px !important;
    box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.15),
      -1px -1px 1px rgba($color: #000000, $alpha: 0.15) !important;

    .paginate_button {
      $pd: 1em;
      $py: $pd * 0.5;
      $px: $pd;
      padding: $py $px !important;
      color: $dark !important;
      background-color: white !important;
      transition: 0.2s ease-in !important;
      border-bottom: 1px solid transparent !important;
      margin: auto 0.5em !important;

      &.current {
        background: $success !important;
        color: white !important;
        border-radius: 4px !important;
        font-weight: bold !important;
        cursor: default !important;

        &:hover {
          border-bottom: 1px solid transparent !important;
        }
      }
    }
  }
}
